{% extends "base_templates/menuBar_template.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Bug</title>
    <link rel="stylesheet" href="{% static 'css/bug_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}
    <div class="flex_box justify-center align-center full-width flex-direction-column">
        <div class="width-40 margin-top-5">
            <form action="raise" method="post">
                {% csrf_token %}
                <label for="bug_title" class="h2">Title</label>
                <input type="text" name="bug_title" id="bug_title">
                <label for="bug_description" class="h2">Description</label>
                <textarea name="bug_description" id="bug_description" cols="47" rows="10" class="textarea-raise-bug"></textarea>
                <label for="bug_foundIn" class="h2">Found In</label>
                <input type="text" name="bug_foundIn" id="bug_foundIn">
                <label for="bug_severityLevel" class="h2">Severity Level</label>
                <input type="text" name="bug_severityLevel" id="bug_severityLevel">
                <input type="submit" value="Raise" class="btn flex_box align-center justify-center">
            </form>

        </div>


    </div>


{% endblock content %}

</body>
</html>