{% load static %}
{% load flash_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Bug</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>

<div class="flex_box full-width">
    <div class="c-1 left-welcome-div flex_box flex-direction-column justify-flex-end align-center">
        <div class="margin-bottom-20">
            <img src="../../static/icons/Programming-Bug-icon.png" alt="Bug-Icon-image">
        </div>
        <div class="flex_box flex-direction-column align-center margin-bottom-10 margin-top-3">
            <div class="h2 message-font">Where</div>
            <div class="h2 message-font">Engineers meet bugs</div>
        </div>
    </div>
    <div class="c-1 flex_box flex-direction-column align-center">
        <div class="margin-top-5">
           <div class="h1 title-font">Blue Bug</div>
        </div>
        <div class="margin-top-10">
            <div class="h2 welcome-font">Welcome to BlueBug</div>
        </div>
        <div class="margin-top-10">
            <form action="login" method="post">
                {% csrf_token %}
                <div class="form-input-box">
                    <label for="userId">User name or Email</label>
                    <div>
                        <input type="text" name="userId" id="userId">
                    </div>
                </div>
                <div class="form-input-box">
                    <label for="userPassword">Password</label>
                    <div>
                        <input type="password" name="userPassword" id="userPassword">
                    </div>
                </div>

                <div class="form-input-box flex_box justify-center align-center">
                    <input type="submit" value="Log In" class="btn justify-center align-center flex_box">
                </div>

            </form>
        </div>
        <div class="h3 margin-top-5">New to BlueBug?
            <a href="register">Create Account</a>
        </div>

    </div>
</div>


</body>
</html>